.signup_background {
  background: url("../../../public/images/Signup_background.jpg");
  background-size: cover;
}
.handbox_image {
  margin-top: 64px;
  margin-left: 48px;
  opacity: 0.9;
  background: url("../../../public/images/hands_box.png");
  background-size: 600px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 820px) {
  .form_mobile {
    width: 100%;
    background: url("../../../public/images/Signup_background.jpg");
    background-size: cover;
  }
  .handbox_image {
    display: none;
  }
}
