.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 45;
  background-color: rgba(0, 0, 0, 0.5);
}

.loadingText {
  font-size: 1.2rem;
  color: #eeeeee;
  margin-top: 1rem;
  margin-left: 20px;
}
